default: &default
  timeout: 5000

development:
  <<: *default
  # order_trace_url: 'http://tmstest.savecloud.cn:30004/gytms_edi/*.expressCollect'
  order_trace_url: 'https://uat-tms.sinopharmlogistics.com/spl/tms/disp/mgt/open/dispatch/carrierFeedback'
  method: 'collect'
  appKey: 'A01C0141-250618'
  appSercret: 'uWLKhaIWYmlerrkPdv5claq3dbnJcNxCaJ44oVWjFMQ'
  path: '/spl/tms/disp/mgt/open/dispatch/carrierFeedback'
  from: 'EMS'

test:
  <<: *default
  order_trace_url: 'http://tmstest.savecloud.cn:30004/gytms_edi/*.expressCollect'
  # order_trace_url: 'https://uat-tms.sinopharmlogistics.com/spl/tms/disp/mgt/open/dispatch/carrierFeedback'
  method: 'collect'
  appKey: '3bdfdedb1c370749'
  appSercret: 'b27df4bbce458abaa710ee553b7a9a28c57cc393'
  path: '/spl/tms/disp/mgt/open/dispatch/carrierFeedback'
  from: 'EMS'

production:
  <<: *default
  # order_trace_url: 'http://tms2.savecloud.cn:8080/gytms_edi/*.expressCollect'
  order_trace_url: 'https://tms.sinopharmlogistics.com/spl/tms/disp/mgt/open/dispatch/carrierFeedback'
  method: 'collect'
  appKey: 'C0157-251027'
  appSercret: 'N3kwhuV27aWKPbWCkt4_3Hfq4HlqcEOyPOrIPMfDlUM'
  path: '/spl/tms/disp/mgt/open/dispatch/carrierFeedback'
  from: 'EMS'
